<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <body>
        <%- include('partials/navbar') %>
            <div class="container container-fluid pt-5">
                <section class="text-center text-lg-start">
                    <style>
                        .rounded-t-5 {
                            border-top-left-radius: 0.5rem;
                            border-top-right-radius: 0.5rem;
                        }
                        
                        @media (min-width: 992px) {
                            .rounded-tr-lg-0 {
                                border-top-right-radius: 0;
                            }
                            .rounded-bl-lg-5 {
                                border-bottom-left-radius: 0.5rem;
                            }
                        }
                    </style>
                    <div class="card mb-3">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-lg-4 d-none d-lg-flex">
                                <img src="https://i.pinimg.com/originals/98/35/f5/9835f540105445ffae80623bd52dd09f.jpg" alt="Trendy Pants and Shoes" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body py-5 px-md-5">
                                    <form action="/login/user" method="POST">
                                        <div class="form-outline mb-2">
                                            <h2>Login</h2>
                                        </div>
                                        <% if(false){ %>
                                            <div class="form-outline mb-4">
                                                <div class="alert alert-info row justify-content-center" role="alert">

                                                </div>
                                            </div>
                                            <% } %>
                                                <div class="form-outline mb-2">
                                                    <label class="form-label" for="username">Username</label>
                                                    <input type="username" id="username" name="username" class="form-control" required/>
                                                </div>
                                                <div class="form-outline mb-3">
                                                    <label class="form-label" for="password">Password</label>
                                                    <input type="password" id="password" name="password" class="form-control" required/>
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-block mb-2">Sign in</button>
                                                <div class="form-outline mb-4">
                                                    Don't have an account? <a href="/register">Sign Up</a>
                                                </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <%- include('partials/footer') %>
    </body>

</html>